include /components/mixins/mixins.pug

section.main-container__runing-line.runing-line
  div.runing-line__container
    ul.runing-line__list
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )

      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
      li.runing-line__item
        picture
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            type="image/webp",
            srcset="img/slavica_logo@1x.webp 1x, img/slavica_logo@2x.webp 2x"
          )
          source(
            media="(max-width: 767px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          source(
            media="(max-width: 1023px)",
            width="250",
            height="150",
            type="image/png",
            srcset="img/slavica_logo@1x.png 1x, img/slavica_logo@2x.png 2x"
          )
          img(
            src="img/slavica_logo@1x.png",
            srcset="img/slavica_logo@2x.png 2x",
            width="250",
            height="150",
            alt="/"
          )
